# Python
__pycache__/
*.py[cod]
*.so
venv/
.venv/

# Environment variables
.env
.env.local
.env.*.local

# Database
*.db

# Uploads
backend/uploads/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
